/**
  Sosie Panel
 **/

.cdx-notify {

    &--sosie-panel {
        
        background: #fafffe !important;

        &::before {
            /*background: #41ffb1 !important;*/
        }

        width: 640px;
        height: 480px;
    }
    
}

.cdx-notify {
    
    &--sosie-panel-with-btn {
        
        background: #fafffe !important;

        &::before {
            /*background: #41ffb1 !important;*/
        }

        width: 640px;
        height: 540px;
    }
}


/**
 * Panel of the embed demo when interactive mode
 */
.cdx-notify {
    
    &--sosie-panel-embed-demo {
        
        background: #fafffe !important;

        &::before {
            /*background: #41ffb1 !important;*/
        }

        width: 480px;
        height: 180px;
    }
}


.button__embed-demo {
    display: inline-block;
    background: #2da0e9;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

.button__embed-demo:hover {
    background: #1689d2;
}
